<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Guesser</title>
    <!-- Link your CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="container">
        <div id="guess-age-text">Guess Your Age!</div>
        <div id="random-number">0</div>
        <div id="video-container">
            <video id="video" autoplay></video>
        </div>
        <img id="overlay" src="{{ url_for('static', filename='assets/mirror.png') }}" alt="Overlay Image">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
